body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: .25em;
  font-weight: 700;
}
.nav-link:hover {
  color: rgb(104, 134, 218);
  border-bottom: 1px solid black;

}

.auth-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}